footer {
  background: $black;
  text-align: center;
  position: relative;
  // position: fixed;
  bottom: 0;
  width: 100%;

  .innerFooter {
    padding-top: font-rem(60);
    padding-bottom: font-rem(60);
    // .logo {
    //   width: font-rem(60);
    //   height: font-rem(61);
    //   margin-left: font-rem(15);
    // }

    .footerLogo {
      width: font-rem(118);
      height: font-rem(55);
      margin-left: font-rem(37);

      .cls-1 {
        fill: #b88b1c;
        fill-rule: evenodd;
      }

      img {
        position: absolute;
        right: 50px;
        top: -15px;
        width: 90px;
      }
    }

    .about {
      // color: $offWhite;
      color: #fff;
      font-size: font-rem(13);

      @include media-breakpoint-down(sm) {
        text-align: center;
      }
    }

    .footerList {
      justify-content: center;
      align-items: center;

      @include media-breakpoint-down(sm) {
        margin-top: 2rem;
        padding-right: 0;
        justify-content: center;
      }

      li {
        margin-right: font-rem(10);
        color: $white;

        &:first-of-type {
          @include media-breakpoint-down(sm) {
            margin-right: 0;
          }
        }

        a {
          text-decoration: none;
          height: font-rem(35);
          width: font-rem(35);
          // background: $codGray;
          display: inline-block;
          // text-align: center;
          // line-height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: font-rem(14);

          svg {
            fill: #fff;
          }
        }
      }

      li.lang {
        color: #fff;
        padding-right: font-rem(46);

        button {
          color: #fff !important;
          // background: $codGray;
          padding: font-rem(8) font-rem(14);
          margin-right: font-rem(5);
          border-radius: 0;

          @include media-breakpoint-down(sm) {
            padding: font-rem(8);
          }

          &::after {
            display: none;
          }
        }

        @include media-breakpoint-down(sm) {
          padding-right: 0;
        }
      }
    }
  }

  #whatsapp_link {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 100px;
    height: 100px;
    display: block;
  }

  .copyright {
    // background: $darkRed;
    background: $codGray;
    padding: font-rem(10);

    p {
      margin: 0 auto;
      // color: $white;
      color: $darkYellow;
      //   opacity: 0.7;
      text-align: center;
    }
  }
}

.page__en {
  .innerFooter {
    .footerLogo {
      margin-right: font-rem(37);
      margin-left: 0 !important;

      img {
        right: 0;
        left: 50px;
      }
    }

    .footerList {
      li {
        margin-left: font-rem(10);
        margin-right: 0 !important;

        &:first-of-type {
          @include media-breakpoint-down(sm) {
            margin-left: 0;
          }
        }

        &.lang {
          padding-left: font-rem(46);
          padding-right: 0 !important;

          @include media-breakpoint-down(sm) {
            padding-left: 0;
            margin-left: font-rem(30);
          }

          button {
            margin-left: font-rem(5);
            margin-right: 0 !important;
          }
        }
      }
    }
  }
}

.footerAbout {
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    margin-top: 25px;
  }
}

.newsBtn {
  border-radius: 8px;
  cursor: pointer;
  background: #8a633e;
  margin: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 8px !important;
  font-size: 1em;
  color: #fff !important;
  max-width: 200px;

  @include media-breakpoint-down(sm) {
    margin: 10px;
    padding: 6px !important;
    font-size: .8em;
    font-size: .8em;
  }
}

.newsSubTitle {
  color: #8a633e;

  @include media-breakpoint-down(sm) {
    font-size: .8em;
  }
}

.newsTitle {
  color: #7c7c7b;

  @include media-breakpoint-down(sm) {
    font-size: 1em;

  }
}